@font-face {
	font-family	: 'Finurlig DEMO';
	src		:  url('https://rawcdn.githack.com/5e-Cleric/fonts-/c346b25b2fa6d5d56dffbe10629e6991a255eb29/Tashafonts/noteprov/finurlig-demo.regular.woff')
	format('woff');
	}

@font-face {
	font-family 	: 'Bombaya Regular';
	src 		:  url('https://github.com/Hfredlt/Spare/blob/ee7cacc5c009064bac3734c64bc458fd39332556/bombaya-webfont.woff')
	format('woff');
	}

